/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
* Global css
*/
:root {
    --color-primary: #FF0000;
    --color-secondary-one: #97BE5A;
    --color-secondary-two: #ffe8c5ce;

}


body {
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-primary);
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}


/**
* Panel css
*/
.panel {
    margin: 3rem;
    padding: 5px;
    width: 80%;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 0px 10px var(--color-secondary-one);
    box-shadow: 0px 0px 0px 10px var(--color-secondary-one);
}

body.timer-running #work {
    font-weight: bold;
}

body.rest-mode #break {
    font-weight: bold;
}

/**
 * Timer css
 */
#timer {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-shrink: 0;
    width: 100%;
    max-width: 420px;
}

.circle-timer {
    width: 420px;
    max-width: 420px;
    height: auto;
    flex-shrink: 0;
}

.circle-background, .circle-progress {
    stroke-width: 7;
    fill: none;
}

.circle-background {
    stroke: var(--color-secondary-one);
}

.circle-progress {
    stroke: var(--color-secondary-two);
    stroke-linecap: round;
    stroke-dasharray: 283;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

#timer-time {
    fill: rgb(255, 255, 255);
    text-anchor: middle;
}

/**
* Button css
*/

#function-btn, #form-btn {
    position: relative;
    width: 50px; 
    height: 50px;
    margin: auto;
    transform: translateY(-50%);
}
    
    button {
        position: absolute;
        width: 50px;
        height: 50px;
        border: none;
        background-color: var(--color-secondary-one);
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
    
    .material-symbols-outlined {
        font-size: 24px;
        color: white;
    }


/**
* Form css
*/

#function-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 1em;
    position: relative;
}

#settings-form {
    position: absolute; 
    bottom: 5rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    width: 20rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#settings-form label {
    font-size: 1rem;
    color: #444;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

#settings-form input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#settings-form input:focus {
    border-color: #666;
    outline: none;
}





/**
* Media querries
*/
/* Responsive for 4K (min-width: 3840px) */
@media (min-width: 2560px) {
    h1 {
        font-size: 150px;
    }

    .panel {
        max-width: 1000px;
        width: 1000px;
        font-size: 50px;
    }


    #timer {
        width: 800px;
        max-width: 800px;
    }
    
    .circle-timer {
        width: 800px;
        max-width: 800px;
        height: auto;
    }

    #timer-time {
        font-size: 1.25rem;
    }

    /* Agrandir les boutons pour les écrans 4K */
    button {
        width: 100px;
        height: 100px;
        font-size: 36px; /* Plus gros icône */
    }

    .material-symbols-outlined {
        font-size: 36px; /* Ajustement de l'icône */
    }

    #settings-form label {
        font-size: 2.25rem;
    }

    #settings-form input {
        font-size: 2.25rem;
    }

    #form-btn{
        padding-top: 120px;
    }


}


/* Responsive for tablets */
@media (max-width: 768px) {
    #settings-form {
        max-width: 20rem;
        padding: 1rem;
    }

    #settings-form input {
        font-size: 0.9rem;
        padding: 0.65rem;
    }

    #timer {
        width: 100%;
        max-width: 405px;
    }
    
    .circle-timer {
        max-width: 405px;
        width: 405px;
        height: auto;
    }

}

/* Responsive for phones */
@media (max-width: 480px) {
    #settings-form {
        width: 15rem;
        padding: 0.75rem;
    }

    #settings-form label {
        font-size: 0.9rem;
    }

    #settings-form input {
        padding: 0.5rem;
        font-size: 0.85rem;
    }

    #timer {
        width: 100%;
        max-width: 400px;
    }
    
    .circle-timer {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}




/**
* Interactive css
*/
body.timer-paused #btn-start,
body.settings-open #btn-close
body.settings-open #settings-form,
body.timer-paused:not(.rest-mode) #timer-pause,
body.rest-mode #timer-rest,
body.rest-mode.timer-paused #timer-pause,
body:not(.rest-mode) #timer-work,
body.settings-open #btn-close,
body.settings-open #settings-form {
    opacity: 1;
    visibility: visible;
}

body:not(.timer-running) #btn-reset,
body.timer-running #btn-start,
body.rest-mode #btn-start,
body.rest-mode.timer-paused #timer-rest,
body.timer-paused #timer-work,
body:not(.settings-open) #btn-close, 
body:not(.settings-open) #settings-form,
body.settings-open #btn-settings {
    opacity: 0;
    visibility: hidden;
}
