* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    background: #931F1D;    
}

.container {
    margin: auto;
    max-width: 1600px;
    width: 100%;
    height: 100%;
}

p,
h1 {
    color: #eaf1f2;
}

h1 {
    padding-top: 50px;
    font-size: 3rem;
}

header {
    width: 100%;
}

    .panel,
    .circle,
    .timer {
        margin: 50px auto;
    }

    .panel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 500px;
        border-radius: 25px;
        -webkit-box-shadow: 0px 0px 0px 10px #aabe80;
        box-shadow: 0px 0px 0px 10px #aabe80;
    }
    
    .panel p {
        opacity: 0.8;
        font-size: 100%;
        margin: 0;
    }
    

    /**
    * Timer
    */
    #timer {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
        .circle-timer {
            max-width: 400px;
            max-height: 400px;

        }
            .circle-background {
                stroke: #aabe80;
                stroke-width: 7;
                fill: none;
            }
            .circle-progress {
                stroke: #dcebb4;
                stroke-width: 7;
                stroke-linecap: round;
                stroke-dasharray: 283;
                fill: none;
                transform-origin: 50% 50%;
                transform: rotate(-90deg);
            }
        #timer-time {
            fill: rgb(255, 255, 255);
            text-anchor: middle;
        }

    #timer-function {
        justify-content: center;
        align-items: center;
    }

    #function-btn {
        position: relative;
        width: 50px; 
        height: 50px;
        margin: auto;
        transform: translateY(-50%);
    }
        
        button {
            position: absolute;
            width: 50px;
            height: 50px;
            border: none;
            background-color: #aabe80;
            cursor: pointer;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
        }
        
        .material-symbols-outlined {
            font-size: 24px;
            color: #eaf1f2;
        }

    #function-settings {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-top: 1em;
        position: relative;
    }

        #settings-form {
            width: 300px;
            height: auto;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            border-radius: 10px;
            position: absolute;
            top: -160px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
        }
        
        #settings-form p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }
        
        #settings-form label {
            font-size: 16px;
            color: rgb(70, 70, 70);
        }
        
        #settings-form input {
            width: 50px;
            text-align: center;
            padding: 5px;
            border: 1px solid rgb(200, 200, 200);
            border-radius: 5px;
        }
        
/**
* Media querries
*/

@media screen and (max-width: 1024px) {
    .panel {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-top: 30px;
    }

    .container,
    .panel {
        width: 90%;
    }

    h1 {
        font-size: 2em;
    }

    .panel {
        max-width: 500px;
    }
    
    .circle {
        width: 250px;
        height: 250px;

    }

    .timer {
        width: 265px;
        height: 265px;
    }

    .time p {
        font-size: 4rem;
    }
}

@media screen and (min-width: 2560px) {
    h1 {
        font-size: 3em;
    }
    .panel {
        width: 60%;
        -webkit-box-shadow: 0px 0px 0px 20px #aabe80;
        box-shadow: 0px 0px 0px 20px #aabe80;
        border-radius: 30px;
    }

    .circle-timer {
        max-width: 800px;
        max-height: 800px;
    }

    .panel p {
        font-size: 3rem;
    }
    
    #function-btn {
        padding-top: 30px;
        width: 80px;
        height: 80px;
    }

    #function-settings{
        padding-top: 40px;
    }

    button {
        width: 80px;
        height: 80px;
    }

    .material-symbols-outlined{
        font-size: 40px;
    }

    #settings-form {
        justify-content: center;
        width: 600px;
        height: 155px;
    }
    #settings-form p {
        margin-bottom: 35px;
        padding-left: 20px;
    }

    #settings-form label {
        font-size: 30px;
    }

    #settings-form input {
        font-size: 30px;
        width: 100px;
        height: 50px;
        
    }

}

/**
* Interactive css
*/
body.timer-paused #btn-start,
body.settings-open #btn-close
body.settings-open #settings-form,
body.timer-paused:not(.rest-mode) #timer-pause,
body.rest-mode #timer-rest,
body.rest-mode.timer-paused #timer-pause,
body:not(.rest-mode) #timer-work,
body.settings-open #btn-close,
body.settings-open #settings-form {
    opacity: 1;
    visibility: visible;
}

body:not(.timer-running) #btn-reset,
body.timer-running #btn-start,
body.rest-mode #btn-start,
body.rest-mode.timer-paused #timer-rest,
body.timer-paused #timer-work,
body:not(.settings-open) #btn-close, 
body:not(.settings-open) #settings-form,
body.settings-open #btn-settings {
    opacity: 0;
    visibility: hidden;
}
